<footer>
          <div class="pull-right">
            Thiết kế bởi: <a href="https://thietkeweb2s.com">thietkeweb2s.com</a> - 0972453184 
          </div>
          <div class="clearfix"></div>
</footer>
	<!-- FastClick -->
    <script src="<%$smarty.const.ACW_BASE_URL_BACKEND%>/js/fastclick.js"></script>    
    <!--<script src="<%$smarty.const.ACW_BASE_URL_BACKEND%>/vendors/nprogress/nprogress.js"></script>
    <script src="<%$smarty.const.ACW_BASE_URL_BACKEND%>/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>-->
    <script src="<%$smarty.const.ACW_BASE_URL_BACKEND%>/build/js/custom.min.js"></script>
	