body{background: #c0c0c0;color: #000000;font-size: 12;font-family: Tahoma, Times New Roman, Arial;}.row{margin-left: 0px;margin-right: 0px;}#menu_top ul{background: #3b3b3b;padding: 0;margin: 0;list-style: none;z-index: 99;}#menu_top ul li{background: #3b3b3b;position: relative;display: block;float: left;}#menu_top li ul{display: none;}#menu_top ul li a{color: #fff;display: block;padding-left: 10px;padding-right: 10px;line-height: 58px;white-space: nowrap;text-decoration: none;}#menu_top ul li a:hover{background: #ffbb00;color: #ffffff;}#menu_top li:hover > ul{position: absolute;display: block;}#menu_top li:hover li{float: none;}#menu_top li:hover ul li a{background: #3b3b3b;line-height: 40px;}#menu_top li:hover li a:hover{background: #ffbb00;color: #fff;}##menu_top .dropDownMenu li ul li{border-top: 0;}#menu_top ul ul ul{top: 0;left: 100%;}#menu_top ul:before,#menu_top ul:after{display: table;}#menu_top ul:after{clear: both;}#menu_top{background: #3b3b3b;border-bottom: 2px solid #ffbb00;padding-bottom: 2px;height: 60px;}#footer{background: #3b3b3b;}.model_title{      		
      		margin: 0 0 15px;
		    padding: 0;
		    position: relative;
		    border-bottom: 2px solid #ffbb00;
		    background: url(../images/title_pat.png) repeat scroll 0% 0% transparent;
      	}
      	.model_title h2{
      		font: normal bold 14px Tahoma, Times New Roman, Arial;
		    height: 22px;
		    line-height: 22px;
		    margin: 0 0;
		    padding: 0 10px;
		    background: #ffbb00;
		    color: #474747;
		    display: inline-block;
      	}
      	.model_title:after{
      		content: no-close-quote;
		    position: absolute;
		    width: 0px;
		    height: 0px;
		    bottom: -6px;
		    left: 22px;
		    border-left: 6px solid rgba(0, 0, 0, 0);
		    border-right: 6px solid rgba(0, 0, 0, 0);
		    border-top: 6px solid #ffbb00;
      	}
      	.model_title h2 span{
      		color: #fff;
      	}
.foot_model_title h2{
      		font: normal bold 13px Tahoma, Times New Roman, Arial;
		    margin: 0 0 10px 0;
		    padding: 6px 0;
		    text-transform: uppercase;
		    position: relative;
		    border-bottom: 2px solid #696969;
		    color: #eeeeee;
      	}
      	.foot_model_title h2 span{
      		border-bottom: 2px solid #ffbb00;
		    bottom: -2px;
		    padding: 6px;
		    color: #fff;
      	}
      	.foot_model_title h2 span:after{
      		content: no-close-quote;
		    position: absolute;
		    width: 0px;
		    height: 0px;
		    bottom: -6px;
		    left: 22px;
		    border-left: 6px solid rgba(0, 0, 0, 0);
		    border-right: 6px solid rgba(0, 0, 0, 0);
		    border-top: 6px solid #ffbb00;
      	}